.astro-code-block pre {
  @apply join-item rounded-md border bg-transparent p-2;
}

.astro-code-title ~ pre {
  @apply rounded-tl-none;
}

.astro-code-block pre.light-plus {
  @apply dark:hidden;
}

.astro-code-block pre.one-dark-pro {
  @apply hidden dark:block;
}

.astro-code-block span.line:last-child {
  @apply hidden;
}

.astro-code-block.showLineNumbers code {
  counter-reset: line;
}

.astro-code-block.showLineNumbers span.line::before {
  counter-increment: line;
  content: counter(line);
  width: 3ch;
  @apply mr-2 inline-block text-right opacity-80;
}

.astro-code-block.isTerminal span.line::before {
  content: "$";
  @apply mr-2 opacity-80;
}
