---
const year = new Date().getFullYear()
---

<footer class="border-t">
  <div class="container flex justify-between text-sm py-2">
    <span>&copy; {year} Viet-Hung Nguyen.</span>
    <span>Made with <a class="font-semibold" href="https://astro.build">Astro</a> and ❤️</span>
  </div>
</footer>