---
import { ABOUT_ME_LINK, GITHUB_LINK, LINKEDIN_LINK } from "@/constants"
import Logo from "../header/Logo.astro"
import Icons from "../icons"
import ThemePicker from "../theme/ThemePicker"
import DesktopLinks from "../header/DesktopLinks.astro"
import MobileLinks from "../header/MobileLinks"
---

<header class="p-2 sticky top-0 z-40 md:px-[-0.5rem]">
  <div
    class="container flex items-center justify-between rounded-xl border p-2 bg-base-100 shadow-lg"
  >
    <Logo />
    <ul class="flex items-center">
      <li class="sm:hidden">
        <MobileLinks client:visible />
      </li>
      <DesktopLinks />
      <li>
        <ThemePicker client:load />
      </li>
    </ul>
  </div>
</header>
