---
import { ABOUT_ME_LINK, GITHUB_LINK, LINKEDIN_LINK } from "@/constants"
import Logo from "../header/Logo.astro"
import Icons from "../icons"
import ThemePicker from "../theme/ThemePicker"
---

<header class="p-2 sticky top-0 z-40 md:px-[-0.5rem]">
  <div
    class="container flex items-center justify-between rounded-xl border p-2 bg-base-100 shadow-lg"
  >
    <Logo />
    <ul class="flex gap-2 items-center">
      <li>
        <a class="font-semibold hover:underline after:content-['_↗']" href={ABOUT_ME_LINK}
          >About me</a
        >
      </li>
      <li>
        <a
          href={LINKEDIN_LINK}
          title="Linkedin"
          class="btn btn-sm btn-square btn-ghost"
          target="_blank"
        >
          <Icons.linkedin className="w-4 h-4" />
        </a>
      </li>
      <li>
        <a
          href={GITHUB_LINK}
          title="GitHub"
          class="btn btn-sm btn-square btn-ghost"
          target="_blank"
        >
          <Icons.github className="w-4 h-4" />
        </a>
      </li>
      <ThemePicker client:load />
    </ul>
  </div>
</header>
