---
import BaseLayout from "@/layouts/BaseLayout.astro"
import { SEO } from "astro-seo"

const description = "This page could not be found"
---

<BaseLayout>
  <SEO slot="seo" title="Page not found" {description} />
  <section class="flex flex-1 items-center justify-center gap-2">
    <h1 class="font-mono text-xl font-semibold">404</h1>
    <hr class="h-12 border" />
    <h2>{description}</h2>
  </section>
</BaseLayout>
