---
import { ABOUT_ME_LINK, GITHUB_LINK, LINKEDIN_LINK } from "@/constants"
import Icons from "../icons"
---

<li>
  <a class="btn btn-ghost btn-sm normal-case after:content-['_↗']" href={ABOUT_ME_LINK}>About me</a
  >
</li>
<li>
  <a href={LINKEDIN_LINK} title="Linkedin" class="btn btn-sm btn-square btn-ghost" target="_blank">
    <Icons.linkedin className="w-4 h-4" />
  </a>
</li>
<li>
  <a href={GITHUB_LINK} title="GitHub" class="btn btn-sm btn-square btn-ghost" target="_blank">
    <Icons.github className="w-4 h-4" />
  </a>
</li>

<style>
  li {
    @apply hidden sm:block;
  }
</style>
