---
import { ABOUT_ME_LINK } from "@/constants"
import Logo from "./logo/Logo.svelte"
import ThemePicker from "./theme/ThemePicker"
---

<header class="sticky top-0 z-40 p-2 md:px-[-0.5rem]">
  <div
    class="container flex items-center justify-between rounded-xl border bg-base-100 p-2 shadow-lg"
  >
    <Logo client:load />
    <ul class="flex items-center">
      <li>
        <a class="btn btn-ghost btn-sm normal-case after:content-['_↗']" href={ABOUT_ME_LINK}
          >About me</a
        >
      </li>
      <li>
        <ThemePicker client:load />
      </li>
    </ul>
  </div>
</header>
