---
import Footer from "@/components/Footer.astro"
import Header from "@/components/Header.astro"
import { ViewTransitions } from "astro:transitions"

import ThemeProvider from "@/components/theme/ThemeProvider.astro"
import "@/styles/global.css"
---

<html lang="en" class="scroll-smooth">
  <head>
    <meta charset="utf-8" />
    <link rel="canonical" href={new URL(Astro.url.pathname, Astro.site)} />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <link rel="icon" type="image/x-icon" href="/favicon.ico" />
    <link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png" />
    <link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png" />
    <link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png" />
    <slot name="seo" />
    <ThemeProvider />
    <ViewTransitions />
  </head>
  <body class="flex min-h-screen flex-col">
    <Header />
    <main class="relative flex flex-1 flex-col">
      <slot />
    </main>
    <Footer />
  </body>
</html>
